<%if @books.blank?%>
      <p>There are no books in the stock</p>
<%else%>
      <p>These are the current books in the stock.</p>
      <ul id="books">
            <%@books.each do |c|%>
            <li>
              <%=link_to c.title, {:action=>'show',:id=>c.id}%>
              <b><%=link_to "Edit", {:action=>'edit',:id=>c.id}%></b>
              <b> <%= link_to "Delete", {:action => 'delete', :id => c.id}, :confirm=>"Are you sure you want to delete?"%>
            </li>
      <%end%>
 <%end%>
</ul>
<ul id="subjects">
    <%Subject.find(:all).each do |c|%>
    <li><%=link_to c.name, {:controller=>"book_",:action=>'show_subjects',:id=>c.id}%></li>
    <%end%>
</ul>
<p><%=link_to "Add new book", :action=>'new' %></p>
